:root {
  --accent-color: #fbb400;
  --hover-color: #a3c1ef;
  --white-color: #ffffff;
  --text-color: #163561;
  --bg-color: #fafbff;
  --bgHover-color: #99baed;
}
body {
  font-family: "Catamaran", sans-serif;
}

.container {
  width: 1920px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.506;
  letter-spacing: 0.03em;
  background-color: var(--hover-color);
  color: var(--white-color);
  border: none;
  border-radius: 20px;
  padding: 23px 33px 23px 32px;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 10px 30px var(--hover-color);
  transition: all 0.2s ease-out;
}

.accent {
  color: var(--accent-color);
}

.container.header-container {
  display: flex;
  align-items: center;
  padding-left: 170px;
  padding-right: 213px;
}

.side-nav,
.user-menu {
  display: flex;
}

.side-nav {
  margin-left: 110px;
}

.user-menu {
  margin-left: 400px;
}

.user-menu > img {
  margin-right: 72px;
}

.side-nav-link {
  padding: 67px 14px 8px;
}
.side-nav-link:hover,
.side-nav-link:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
}

.side-nav-item:not(:last-child) {
  margin-right: 20px;
}

.hero > .container {
  background-image: url("../images/heroBg.png");
  background-repeat: no-repeat;
  padding-top: 161px;
  padding-bottom: 153px;
  background-position-x: 100%;
  background-position-y: center;
  padding-left: 188px;
  padding-right: 1156px;
}

.hero-title {
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 1.336;
  color: var(--text-color);
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.506;
  letter-spacing: 0.03em;

  color: var(--text-color);
  margin-top: 29px;
  margin-bottom: 97px;
}

.second-title {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 1.506;
  letter-spacing: 0.03em;
}

.our-history > .container {
  padding-left: 1199px;
  padding-right: 195px;
  padding-top: 288px;
  padding-bottom: 334px;
  background: url("../images/topL.svg") left top,
    url("../images/topR.svg") right top,
    url("../images/ourHistory.png") left center;
  background-repeat: no-repeat;
  /* background-position-x: 0;
  background-position-y: center; */
}

.our-list {
  margin-top: 80px;
}

.our-item {
  margin-bottom: 108px;
}

.our-item:not(:last-child) {
  margin-bottom: 48px;
}

.services > .container {
  padding-left: 249px;
  padding-right: 254px;
  padding-bottom: 136px;
  padding-top: 136px;
}

.services .second-title {
  text-align: center;
}

.services-list {
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
}

.services-item {
  width: 441px;
  border-radius: 29px;
  background-color: var(--bg-color);
  padding: 50px 41px 72px;
  box-shadow: 0px 5px 0px #99baed;
}

.services-item:hover,
.services-item:focus {
  background-color: var(--bgHover-color);
  color: var(--white-color);
}

.services-item:hover .services-subtitle,
.services-item:hover .services-description,
.services-item:focus .services-subtitle,
.services-item:focus .services-description {
  background-color: var(--bgHover-color);
  color: var(--white-color);
  box-shadow: 0px 5px 0px #99baed;
}

.services-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 126px;
  border-radius: 13px;
  background: #e5ecfe;
  box-shadow: 0px 1px 0px #008fdd;
  margin: 0 auto;
  margin-bottom: 59px;
}

.services-subtitle {
  margin-bottom: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.166;
  color: var(--text-color);

  text-align: center;
  letter-spacing: 0.03em;
}

.services-description {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.506;

  text-align: center;
  letter-spacing: 0.03em;

  color: #153461;

  opacity: 0.65;
}
